/* BotaoTema.css */
.modo-escuro {
    filter: grayscale(100%);
    background-color: black;
    color: white;
}

.botao-tema {
    font-size: 1.1em;
    padding: 10px 20px;
    background: linear-gradient(135deg, #4a4a4a, #333);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botao-tema:hover {
    background: linear-gradient(135deg, #555, #444);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.botao-tema:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}